<!-- <form action="/comments/<%= post._id %>" method="POST">
    <input type="hidden" name="postId" value="<%= post._id %>">
    <textarea name="content"><%= comment.content %></textarea>
    <button type="submit">Submit Comment</button>
</form> -->