<section class="articles">
    <h2 class="heading">
        Latest Posts
    </h2>
    <ul class="article_ul">
        <li>
            <span class="post_title">
                Post Title
            </span>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>