@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');

:root {
    --black: #1c1c1c;
    --gray: #7E7E7E;
    --gray-light: #E4E4E4;
    --font-size-xs: 0.85rem;
    --font-size-base: 1rem;
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --border-radius: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: var(--font-size-base);
    background-color: #b9c3e698;
    margin: 0;
}

a {
    color: var(--black);
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="hidden"],
select,
textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
}

.icon {
    width: 15%;
}

.btn-GitHub {

    background-color: rgb(237, 245, 255);
    font-size: var(--font-size-base);
    font-weight: 200;
    border: 0.5px solid var(--black);
    /* border: 0.5px solid rgb(196, 196, 217); */
    box-shadow: 0.5px 0.5px 1px #7e7e7ed7;
    border-radius: 3px;
    color: var(--black);
    padding: 10px 0px;
    text-decoration: none;
    margin: 20px 0px 50px 0px;
    cursor: pointer;
}

.btn {
    background-color: var(--black);
    font-size: var(--font-size-base);
    border: none;
    border-radius: 3px;
    color: rgb(243, 243, 243);
    padding: 8px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-comment {
    background-color: var(--black);
    font-size: var(--font-size-xs);
    border: none;
    border-radius: 3px;
    color: rgb(243, 243, 243);
    padding: 8px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete {
    background-color: var(--black);
    color: rgb(243, 243, 243);
    font-size: var(--font-size-base);
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.btn-delete-comment {
    background-color: var(--black);
    color: rgb(243, 243, 243);
    font-size: var(--font-size-xs);
    border: none;
    border-radius: 3px;
    padding: 8px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* Layout */
.container {
    max-width: 982px;
    margin: 0 auto;
    padding: 0 10px;
}

.main {
    padding: 20px 0;
}

.comment-content {
    border: 1px solid var(--black);
    background-color: rgba(245, 245, 245, 0.902);
    border-radius: 3px;
    width: 50%;
    padding: 20px;
    margin: 10px;
}

.comment-text {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    display: block;
    box-sizing: border-box;
    padding: 0.7rem 0.75rem;
    margin-bottom: 1rem;
    background-color: rgba(245, 245, 245, 0.902);
    border-radius: 3px;
    width: 60%;
}

.comment-article {

    margin: 25px;
}

/* Main Header */
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding-top: 10px;
}


.article {
    white-space: pre-wrap;
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(161, 152, 152, 0.477)
}


/* Footer */
.footer {
    margin: 4rem;
    text-align: center;
}


/* Dashboard Admin */
.admin-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-posts {
    padding: 0;
    margin: 0;
}

.admin-post-controls form {
    display: inline-block;
}

.admin-post-controls .btn .btn-delete {
    display: inline-block;
    background-color: var(--black);
    color: var(--gray-light);
    border: 0;
    text-decoration: none;
    font-size: .8rem;
    padding: 4px 8px;
    line-height: 2;
}

.admin-posts li {
    margin-top: 15px;
}


.pagination {
    font-size: 1.3rem;
    color: var(--gray);
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
}

.pagination:hover {
    color: var(--black);
}

.btn:hover,
.btn-delete:hover {
    background-color: rgba(39, 39, 39, 0.893);
}